<header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a class="scrollto">UMBA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
      <i class="fas fa-bars c">

      </i>
      <nav id="nav-menu-container" class="point">
        <ul class="nav-menu h">
          <li class="menu-active"><a routerLink='/home'>Home</a></li>
          <li><a routerLink='/about'>About Us</a></li>
          <li routerLink='/services'><a>Services</a></li>
          <li><a routerLink='portfolio'>Portfolio</a></li>
          <li routerLink='team'><a>Team</a></li>
          <li class="menu-has-children"><a routerLink='/farmers'>Farmers Resources</a>
            <ul>
              <li><a>Drop Down 1</a></li>
              <li><a>Drop Down 3</a></li>
              <li><a>Drop Down 4</a></li>
              <li><a>Drop Down 5</a></li>
            </ul>
          </li>
          <li routerLink='/contact'><a>Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
