
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All portfolio</li>
              <li data-filter=".filter-app">specific</li>
              <li data-filter=".filter-card">specific</li>
              <li data-filter=".filter-web">specific</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">portfolio</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">potfolio</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">portfolio</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">portfolio</a></h4>
                <p>waiting </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">portfolio</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">farming</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">potfolio 1</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">portfolio 3</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../../assets/images/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="../../assets/images/portfolio/1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">service</a></h4>
                <p>waiting</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="../../assets/images/clients/client-1.png" alt="">
          <img src="../../assets/images/clients/client-2.png" alt="">
          <img src="../../assets/images/clients/client-3.png" alt="">
          <img src="../../assets/images/clients/client-4.png" alt="">
          <img src="../../assets/images/clients/client-5.png" alt="">
          <img src="../../assets/images/clients/client-6.png" alt="">
          <img src="../../assets/images/clients/client-7.png" alt="">
          <img src="../../assets/images/clients/client-8.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="../../assets/images/index.png" class="testimonial-img" alt="">
            <h3>Pascal</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>

             waiting

            </p>
          </div>

          <div class="testimonial-item">
            <img src="../../assets/images/index.png" class="testimonial-img" alt="">
            <h3> Wilsson</h3>
            <h4>Designer</h4>
            <p>

              waiting

            </p>
          </div>

          <div class="testimonial-item">
            <img src="../../assets/images/index.png" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>

              waiting

            </p>
          </div>

          <div class="testimonial-item">
            <img src="../../assets/images/index.png" class="testimonial-img" alt="">
            <h3>M Ivan</h3>
            <h4>Freelancer</h4>
            <p>

             waiting

            </p>
          </div>

          <div class="testimonial-item">
            <img src="../../assets/images/index.png" class="testimonial-img" alt="">
            <h3>John</h3>
            <h4>Entrepreneur</h4>
            <p>

              waiting

            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->
