<section id="services">
  <div class="container">

    <header class="section-header wow fadeInUp">
      <h3>Services</h3>
      <p>waiting</p>
    </header>

    <div class="row">

      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
        <h4 class="title"><a href="">Service type</a></h4>
        <p class="description">waiting</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
        <h4 class="title"><a href="">service type waiting</a></h4>
        <p class="description">waiting</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
        <h4 class="title"><a href="">service type</a></h4>
        <p class="description">waiting</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
        <h4 class="title"><a href="">Service type</a></h4>
        <p class="description">waiting</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
        <h4 class="title"><a href="">service type </a></h4>
        <p class="description">waiting</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-people-outline"></i></div>
        <h4 class="title"><a href="">service type</a></h4>
        <p class="description">waiting</p>
      </div>

    </div>

  </div>
</section><!-- #services -->
<section id="call-to-action" class="wow fadeIn">
  <div class="container text-center">
    <h3>Call To Action</h3>
    <p> waiting</p>
    <a class="cta-btn" href="#">Call To Action</a>
  </div>
</section><!-- #call-to-action -->

<!--==========================
  Skills Section
============================-->
<section id="skills">
  <div class="container">

    <header class="section-header">
      <h3>Our Skills</h3>
      <p></p>
    </header>

    <div class="skills-content">

      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

        </div>
      </div>

      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

        </div>
      </div>

      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">

        </div>
      </div>

      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
          <span class="skill">Photoshop <i class="val">55%</i></span>
        </div>
      </div>

    </div>

  </div>
</section>

<!--==========================
  Facts Section
============================-->
<section id="facts"  class="wow fadeIn">
  <div class="container">

    <header class="section-header">
      <h3>Facts</h3>
      <p>waiting</p>
    </header>

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">waiting</span>
        <p>Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">waiting</span>
        <p>Projects</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">waiting</span>
        <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">waiting</span>
        <p>Hard Workers</p>
      </div>

    </div>

    <div class="facts-img">
      <img src="../../assets/images/img1.jpg" alt="" class="img-fluid">
    </div>

  </div>
</section><!-- #facts -->
